body{
    font-family: "consolas";
    margin: 0;
}

nav{
    background-color: blueviolet;
    color: white;
    padding: 2rem;
}

nav a{ 
color: white;
text-decoration: none;
font-weight: bold;
margin-right: 1rem;
}

nav h1{
   margin-top: 0; 
   font-size: 3rem;
}

nav div{
    text-align: right;
}

/* div{
    margin: 4rem;
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    border: 5px solid red;
    padding: 3rem;
} */

main{
    margin-top: 2rem;
    text-align: center;
}

/* main k ander jo h1 hai usko target karo */
main h1{
    color: gray;
    font-size: 3rem;
}

/* main k andr jo h1 hai and us h1 andr span hai usko target kro */
main h1 span{
    color: blueviolet;
}

main .technology{
    background-color: rgb(220, 217, 217);
    padding:2rem;
}

main div h2{
    color: blueviolet;
}
main div p{
    color: rgb(71, 70, 70);
}

main .projects button, main .blogs button{
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    font-family: "consolas";
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
main .blogs button{
    background-color: rgb(220, 217, 217);
    color: blueviolet;
}

#contact{
    background-color: blueviolet;
    color: white;
    padding: 2rem;
    text-align: center;

}

footer h2{
    margin-top: 0;
}

footer div a{
    color: white;
    text-decoration: none;
    margin-left: 2rem;
}

footer div{
    margin-bottom: 2rem;
}

/* project page css */

.description{
    margin-bottom: 3rem;
}

 .description h2{
    text-align: left;
    margin-left: 4rem;
    color: blueviolet;
 }

 .description p{
    text-align: left;
    margin-left: 4rem;
    width: 40%;
 }

 .description .project-btns{
    text-align: left;
    margin-left: 4rem;
 }

.description .project-btns button{
    font-family: consolas;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

 .description .project-btns .primary-btn {
    background-color: blueviolet;
    color: white;
   
 }
 
 .description .live-project .secondary-btn {
    background-color: white;
    color: blueviolet;
 } 



 



 



 
    
 
    
